Parameters:
#  FRONTEND_BUCKET:
#    Type: String
#    Description: Name of the Amazon S3 bucket in which to grab the front-end
#    Default: DOC-EXAMPLE-BUCKET
  SPRING_PROFILES_ACTIVE:
    Type: String
    Description: Name of the current spring profile that is active [ prod, dev]
    Default: dev
    AllowedValues:
      - dev
      - prod

option_settings:
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: HealthCheckPath
    value:  /healthcheck

# TODO set load balancer health check