Parameters:
#  frontendBucket:
#    Type: String
#    Description: Name of the Amazon S3 bucket in which to grab the front-end
#    Default: DOC-EXAMPLE-BUCKET

option_settings:
  - namespace: aws:elasticbeanstalk:environment:process:default
    option_name: HealthCheckPath
    value:  /healthcheck

# TODO set load balancer health check